<div class="container">
  <h3>Create new Album</h3>
  <form [formGroup]="addAlbumForm" (ngSubmit)="albumCreate()">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" formControlName="title" required>
      </div>
    </div>
    <br>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Production Date</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" formControlName="date" placeholder="YY/MM/DD">
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Type</label>
      <div class="col-sm-5">
        <!-- <input type="text" class="form-control" formControlName="type" > -->
        <mat-form-field appearance="fill">
          <!-- <mat-label>Favorite food</mat-label> -->
          <mat-select [(ngModel)]="selectedValue" name="type" formControlName="type" >
            <mat-option *ngFor="let album of albums" [value]="album.value">
              {{album.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <br>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <button type="submit" class="btn btn-secondary" [disabled]="!addAlbumForm.valid"> Create</button>
      </div>
    </div>
  </form>
</div>