<div class="container pt-4">
  <h4> List of Writers</h4>
  <div class="row">
    <div class="col-sm-10"> </div>
    <div class="col-sm-2">

      <button class="btn btn-secondary" (click)="goToCreate()"> Create </button>

    </div>
  </div>

  <div class="pt-4">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone No:</th>
          <th>Address</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let writerList of writerLists">
          <td>{{writerList.singrerName}}</td>
          <td>{{ writerList.phone }}</td>
          <td>{{ writerList.address }}</td>
          <td>{{ writerList.gender }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>