:host {
    background: #cad5e0;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
    color: black;
    background-color: antiquewhite;
    transition: all 0.3s;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
}

a[data-toggle="collapse"] {
    position: relative;
}

@media (max-width: 575px) {
    #sidebar {
        margin-left: -200px;
    }
    #sidebar.hidden {
        margin-left: 0;
    }
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
    width: 100%;
    font-family: -webkit-pictograph;
    font-size: 25px;
}


/* hr {
    border-top: 1px solid rgb(235, 89, 89);
    margin-top: 0;
} */

.navbar-nav .nav-link {
    color: black;
    text-align: center;
    font-size: 20px;
}

#nav-item li a :hover {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    /* color: green; */
}

.btn:hover {
    color: white;
    background-color: rgb(139, 145, 140);
    text-underline-position: below;
}

#sidebar[_ngcontent-yph-c67] {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
    color: black;
    background-color: silver;
    transition: all 0.3s;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
}