<div class="container pt-4">
    <h4> List of Studio</h4>
    <div class="row">
      <div class="col-sm-10"> </div>
      <div class="col-sm-2">
  
        <button class="btn btn-secondary" (click)="goToCreate()"> Create </button>
  
      </div>
    </div>
  
    <div class="pt-4">
      <table class="table table-striped ">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone No:</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let StudioList of studioLists">
            <td>{{StudioList.writerName}}</td>
            <td>{{ StudioList.phone }}</td>
            <td>{{ StudioList.address }}</td>
            <td>{{ StudioList.gender }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
