.mat-drawer-container {
    background-color: antiquewhite;
    color: rgba(0, 0, 0, .87);
    height: 100%;
}

 ::after,
 ::before {
    box-sizing: border-box;
    background-color: gray;
}

p {
    text-align: center;
    height: 100px;
    padding-top: 35px;
    font-size: 50px;
    background-color: rgb(243, 211, 179);
    margin: 0;
}

.mat-drawer.mat-drawer-side {
    z-index: 2;
    background-color: tomato;
}