<div class="head">
    <div class="title has-text-centered">
        <div class="row">
            <div class="col">
                <p class="">Song Management System</p>
            </div>
        </div>
    </div>
</div>

<mat-drawer-container class="example-container">
    <mat-drawer #drawer opened class="example-sidenav" mode="side">
        <div class="sidebar" data-color="danger" data-background-color="white">

            <app-sidebar></app-sidebar>

            <div class="sidebar-background">
            </div>
        </div>
    </mat-drawer>

    <div class="main-panel">
        <a>
            <mat-icon class="text-danger navbar-toogle-btn" (click)='drawer.toggle()' data-q="q-toogle-nav">
                compare_arrows
            </mat-icon>
        </a>

        <router-outlet></router-outlet>

    </div>

</mat-drawer-container>