<div class="container pt-4">
    <h4> List of Singers</h4>
    <div class="row">
        <div class="col-sm-10"> </div>
        <div class="col-sm-2">

            <button class="btn " (click)="goToCreate()"> Create </button>

        </div>
    </div>

    <div class="pt-4">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone No:</th>
                    <th>Address</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let singerList of singerLists">
                    <td>{{singerList.singrerName}}</td>
                    <td>{{ singerList.phone }}</td>
                    <td>{{ singerList.address }}</td>
                    <td>{{ singerList.gender }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>