<div class="container pt-4">
    <h3>Create new Studio</h3>
    <form [formGroup]="addStudioForm" (ngSubmit)="studioCreate()">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" formControlName="name" required>
                <small *ngIf="addStudioForm.get('name').touched && addStudioForm.get('name').hasError('required')"> please enter studio name</small>
            </div>
        </div>
        <br>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Phone No</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" formControlName="phone">
                <small *ngIf="addStudioForm.get('phone').touched && addStudioForm.get('phone').hasError('required')"> please enter studio,s  phone nunmer</small>
            </div>
        </div>
        <br>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" formControlName="address">
                <small *ngIf="addStudioForm.get('address').touched && addStudioForm.get('address').hasError('required')"> please enter studio,s  phone nunmer</small>
            </div>
        </div>
        <br>

        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-secondary" [disabled]="!addStudioForm.valid"> Create</button>
            </div>
        </div>
    </form>
</div>