h4 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}

tr>th {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

tr>td {
    font-size: 20px;
}

button {
    width: 80px;
    font-size: 18px;
    background-color: rgb(139, 145, 140);
    color: white;
}

.form-control {
    background-color: whitesmoke;
}